<app-navbar></app-navbar>
<app-city-selector></app-city-selector>
<router-outlet></router-outlet>




<footer class="footer">
  <div class="row">
    <div class="footer-col">

      <ul>
        <li><a>
          Book My PG is India's Largest growing "PG Rental Network" attempting to provide better Paying Guest Accommodation Via our technology platform. We help find the best PG rental across Major Indian Cities.</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>CONTACT INFO</h4>
      <ul>
        <li><a>
          <img src="https://cdn.create.vista.com/api/media/small/258995614/stock-photo-illustration-location-icon">
          9-20, Bethel Nagar St, Industrial Estate, Perungudi, Chennai, Tamil Nadu 600096, India
       <p> <img src="https://i.pinimg.com/736x/f1/4c/f9/f14cf99c9c6f445779da46eeb1b0003d.jpg">
          +91-8939654691</p><p>
        <img src="https://t4.ftcdn.net/jpg/00/98/26/11/360_F_98261159_Po5JS7ds82XaePJIsG1MiEtHRzOeUPNj.jpg">info&#64;bookmypg.co.in
    </p></a></li>
    
        
      </ul>
    </div>

    <div class="footer-col">
      <h4>PAGES</h4>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="#">Term & Condition</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="image-slider">Career</a></li>
        <li><a href="#">Fuding Information</a></li>
        <li><a href="#">Guest Policy</a></li>
        <li><a href="#">Partner Policy</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Follow us</h4>
      <ul>
        <li>
        <a routerLink="https://www.facebook.com/">
          <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a routerLink="/businesses">
            <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a routerLink="https://www.twitter.com">
              <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a routerLink="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
                
                </a>
              </li>
      </ul>
    </div>
  </div>
</footer>

<!-- <hr /> -->

<div id="bottom-footer">

  <div id="main">
    <div>
      <p>Payment Methods</p>
    </div>
    <div id="btm-left">
      <p>Net Banking</p>
      <p>Verified By Visa</p>
      <p>Naster Card</p>
      <p>CASH ON DELIVERY</p>
      <p>Jio Money</p>
    </div>
  </div>
  <div id="btm-right">
    <p>Secure systems</p>
    <p>256 BIT</p>
  </div>

  <div id="f-btns">
    <button id="foot-btn">></button>
    <button id="foot-btn1">...</button>
    
  </div>
  
  
  
  
